{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":225,"scrollleft":0,"selection":{"start":{"row":29,"column":13},"end":{"row":29,"column":13},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":14,"state":"start","mode":"ace/mode/text"}},"timestamp":1562344530918,"hash":"094acbd761b2cc0af967827ae55d376186597a59"}