body {
    font-family: "Roboto" sans-serif;
}

/*--- Navbar from Bootstrap  ---*/

.bg-primary {
    background-color: #3E3F3A!important;
    width: 100%;
}

.navbar-brand {
    font-size: 2em;
    height: 55px;
    font-weight: 700;
}

.nav-link {
    font-size: 1em;
    text-transform: capitalize;
}

.intro-container {
    padding-right: -15px;
    padding-left: -15px;
    position: relative;
    width: 100%;
    min-height: 900px;
    background-image: url(../images/introbg.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.card {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
    height: 640px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30),
    0 15px 12px rgba(0, 0, 0, 0.22);
}

.card-img-top {
    height: 20rem;
}

.pagination {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
    /*box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30),*/
    /*0 15px 12px rgba(0, 0, 0, 0.22);*/
}


/*--- Media Queries  ---*/

@media (max-width: 576px) {
    .intro-container {
        width: 600px;
        padding-right: -15px;
        padding-left: -15px;
        position: fixed;
        background-position-x: center;
        min-height: 900px;
        background-image: url(../images/introbg.jpg);
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: fill;
    }
}
