body {
    font-family: "Roboto", sans-serif;
}

footer {
    height: 90px;
    background-color: #3E3F3A;
    color: #adb5bd;
    /*position: fixed;*/
    /*bottom: 0;*/
    /*width: 100%;*/
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
    font-weight: 700;
}

.form-control {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.btn {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
}

/*--- Navbar from Bootstrap  ---*/

.bg-primary {
    width: 100%;
}

.navbar-brand {
    font-size: 2em;
    height: 55px;
    font-weight: 700;
}

.nav-link {
    font-size: 1em;
    text-transform: capitalize;
}

/* -- Social Media Links in Footer -- */

/*--- Social Media Links in Footer taken from Bootsnipp.com, link in README under Acknowledgements  ---*/

.social:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.social {
    line-height: 20px;
    color: #fff;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}



/* -- Container in Intro Page -- */

.intro-container {
    background: url(../images/introbg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*padding-right: -15px;*/
    /*padding-left: -15px;*/
    /*position: relative;*/
    /*width: 100%;*/
    min-height: 800px;
    /*background-image: url(../images/introbg.jpg);*/
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/
}

/* -- Search features -- */

.recipe-search {
    margin-top: 20px;
}


/* -- Recipe Card Display -- */

.card {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
    min-height: 640px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30),
    0 15px 12px rgba(0, 0, 0, 0.22);
}

.card-body {
    padding-top: 5px;
}

.card-img-top {
    height: 20rem;
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
    position:relative;
    border-radius: 10px;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.card-details-wrapper{
    
}

.card-details {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.recipe-input {
    color: #ff4f87;
    font-size: 1.7em;
    font-weight: 900;
    padding: 10px;
}

.recipe-variable {
    font-size: 1.4em;
    text-align: justify;
}


/* -- Recipe Display Page -- */

.recipe {
    padding-top: 15px;
    padding-bottom: 15px;
}

.card-img-display {
    width: 100%;
    height: 23rem;
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
    position:relative;
    border-radius: 10px;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.recipe-buttons {
    padding-top: 5px;
    padding-bottom: 5px;
}

.instructions {
    white-space: pre-wrap;
    list-style: none;
}

/* -- Pagination Styling -- */

.pagination {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}


/* -- Edit Recipe page -- */

.input-group {
    padding-bottom: 2px;
}

.form-buttons {
    padding-top: 5px;
    color: white;
    cursor: pointer;
}

/* -- Login/Register page -- */

.login-card {
    max-width: 20rem;
    margin-top: 6rem;
    margin-bottom: 6rem!important;
    height: 30rem;
    
}

.register-card {
    max-width: 20rem;
    margin-top: 6rem;
    margin-bottom: 6rem!important;
    height: 35rem;
    
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.user-form-button {
    margin-top: 25px;
}


/*--- Media Queries  ---*/

/*@media (max-width: 576px) {*/

/*    .intro-container {*/

/*        width: 600px;*/

/*        padding-right: -15px;*/

/*        padding-left: -15px;*/

/*        position: fixed;*/

/*        background-position-x: center;*/

/*        min-height: 900px;*/

/*        background-image: url(../images/introbg.jpg);*/

/*        -webkit-background-size: cover;*/

/*        -moz-background-size: cover;*/

/*        -o-background-size: cover;*/

/*        background-size: fill;*/

/*    }*/

/*}*/
