{% extends 'base.html' %} {% block content %}

<div class="container-fluid">

    <h2> Welcome {{ user.username|title }} </h2>
    
    <h3>My Favourite Recipes</h3>
    
    <div class="row">
        <div class="search-results text-center">
        <h6>You have {{ user.favourite_recipes|length }} recipes in your favourites</h6>
    </div>
        {% for favourite in user.favourite_recipes %}
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card text-center">
                <div class="card-body text-center">
                    <a href=""><img src="" class="card-img-top" alt=""></a>
                    <h4 class="card-title">{{ favourite.recipe_name|title }}</h4>
                    <hr>
                    
                    <div class="row card-details-wrapper">
                        <div class="card-details col-6 ">
                            <span class="recipe-icon"><i class="fas fa-user fa-2x"></i></span>
                            <span class="recipe-input"> </span>
                            <span class="recipe-variable">Servings</span>
                        </div>
                        <div class="card-details col-6 ">
                            <span class="recipe-icon"><i class="fas fa-clock fa-2x"></i></span> 
                            <span class="recipe-input"></span> 
                            <span class="recipe-variable">Minutes</span>
                        </div>
                        <div class="card-details col-6 offset-3 ">
                            <span class="recipe-icon"><i class="fas fa-burn fa-2x"></i></span> 
                            <span class="recipe-input"></span> 
                            <span class="recipe-variable">Calories</span>
                        </div>
                    </div>
                    
                    <hr>

                    <a href="" class="btn btn-primary">View Full Recipe</a>
                </div>
            </div>
        </div>
        {% endfor %}

</div>

{% endblock %}
