{% extends 'base.html' %} {% block content %}


<div class="container-fluid empty-page">

    {% for current_user in users_profile%}
    
    <h2 class="page-heading">{{ current_user.username|title }}'s Recipes</h2>
    
    <h6>{% if session.user == current_user.username %}You have {% else %} {{ current_user.username|title }} has {% endif %} created {{ users_recipes_count }} {% if users_recipes_count == 1 %}recipe {% else %} recipes {% endif %}</h6>

    <div class="row">
        <div class="col-sm-12 text-center">
            <p>Want to add a recipe? Click on the button below to get started!</p>
            <a role="button" class="btn btn-details"  href="{{url_for('add_recipe')}}">Add a Recipe</a>
        </div>
    </div>
    
    <hr>
    
    {% endfor %}
    
    
    
    <div class="row">
    {% for recipe in users_recipes %}
    
    
    <div class="col-sm-12 col-md-6 col-lg-4 mx-auto">
            <div class="card text-center">
                <div class="card-body text-center">
                    <a href="{{url_for('recipe_display', recipe_id=recipe._id)}}">
                        {% if recipe.photo_url == "" %}
                        <img src="/static/images/backup.jpg" class="card-img-top" alt="{{recipe.recipe_name}}">
                        {% else %}
                        <img src="{{recipe.photo_url}}" class="card-img-top" alt="{{recipe.recipe_name}}">
                        {% endif %} 
                    </a>
                    <h4 class="card-title">{{recipe.recipe_name|title}}</h4>
                    <hr>
                    
                    <div class="row card-details-wrapper">
                        <div class="card-details col-6 ">
                            <span class="recipe-icon"><i class="fas fa-user fa-2x"></i></span>
                            <span class="recipe-input"> {{recipe.servings}} </span>
                            <span class="recipe-variable">Servings</span>
                        </div>
                        <div class="card-details col-6 ">
                            <span class="recipe-icon"><i class="fas fa-clock fa-2x"></i></span> 
                            <span class="recipe-input">{{recipe.preptime}}</span> 
                            <span class="recipe-variable">Minutes</span>
                        </div>
                        <div class="card-details col-6 offset-3 ">
                            <span class="recipe-icon"><i class="fas fa-burn fa-2x"></i></span> 
                            <span class="recipe-input">{{recipe.calories}}</span> 
                            <span class="recipe-variable">Calories</span>
                        </div>
                    </div>
                    
                    <hr>
                    
                    <a href="{{url_for('recipe_display', recipe_id=recipe._id)}}" class="btn btn-main modal-trigger">View Full Recipe</a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>

    <nav aria-label="Page navigation" class="col-lg-6 offset-lg-3">
        <ul class="pagination pagination-sm justify-content-center">
    
            <li {% if current_page|int == 1 %} class="d-none" {% else %} class="page-item"{% endif %}>
    
                <a class="page-link" {% if current_page|int > 1 %} href="{{ url_for('profile', user=user, current_page=current_page|int -1 ) }}" {% endif %}tabindex="-1">Previous</a>
    
            </li>
    
            {% for page_number in pages %} {% if page_number == current_page %}
            <li class="page-item active"><a class="page-link">{{ page_number }}</a></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="{{ url_for('profile', user=user, current_page=page_number) }}">{{ page_number }}</a></li>
            {% endif %} {% endfor %}
    
    
            <li {% if current_page|int >= total_page_no|int %} class="d-none"  {% else %}  class="page-item" {% endif %}>
    
                <a class="page-link" {% if current_page|int < total_page_no|int %} href="{{ url_for('profile', user=user, current_page=current_page|int +1 ) }}" {% endif %}>Next</a>
    
            </li>
    
        </ul>
    </nav>
    
</div>



{% endblock %}