{% extends 'base.html' %} {% block content %}

<div class="container-fluid empty-page">

    <div class="row">
        <div class="col-12 col-sm-8 offset-sm-2">
            <form class="recipe-search input-group" action="{{ url_for('search', word_search=word_search, current_page=current_page) }}">
                <input type="text" class="form-control" placeholder="Search Recipes" id="word_search" name="word_search">
                <div class="input-group-append">
                    <button class="btn btn-details" type="submit" name="action"><i class="fa fa-search"></i></button>
                </div>
            </form>
        </div>
    </div>

    <div class="search-results text-center">
        <h6>Your search for <em>" <span class="recipe-stats">{{ word_search }}</span> " </em> produced <span class="recipe-stats">{{ results_count }}</span> search results</h6>
    </div>

    <hr>

    <div class="row">
        {% if results.count() %} {% for result in results %}
        <div class="col-sm-12 col-md-6 col-lg-4 mx-auto">
            <div class="card text-center">
                <div class="card-body text-center">
                    <a href="{{ url_for('recipe_display', recipe_id=result._id) }}">
                        {% if result.photo_url == "" %}
                        <img src="/static/images/backup.jpg" class="card-img-top" alt="{{result.recipe_name}}">
                        {% else %}
                        <img src="{{result.photo_url}}" class="card-img-top" alt="{{result.recipe_name}}">
                        {% endif %}
                    </a>
                    <h4 class="card-title">{{result.recipe_name|title}}</h4>
                    <hr>

                    <div class="row card-details-wrapper">
                        <div class="card-details col-6 ">
                            <span class="recipe-icon"><i class="fas fa-user fa-2x"></i></span>
                            <span class="recipe-input"> {{result.servings}} </span>
                            <span class="recipe-variable">Servings</span>
                        </div>
                        <div class="card-details col-6 ">
                            <span class="recipe-icon"><i class="fas fa-clock fa-2x"></i></span>
                            <span class="recipe-input">{{result.preptime}}</span>
                            <span class="recipe-variable">Minutes</span>
                        </div>
                        <div class="card-details col-6 offset-3 ">
                            <span class="recipe-icon"><i class="fas fa-burn fa-2x"></i></span>
                            <span class="recipe-input">{{result.calories}}</span>
                            <span class="recipe-variable">Calories</span>
                        </div>
                    </div>

                    <hr>

                    <a href="{{ url_for('recipe_display', recipe_id=result._id) }}" class="btn btn-main">View Full Recipe</a>
                </div>
            </div>
        </div>
        {% endfor %} {% else %}

        <div class="col-12 text-center">

            <p>NO RESULTS!</p>

            <h4>Change your search terms 
            <br> or ...
            </h4>
            
            <!-- MOST POPULAR SECTION -->
    
            <!--If statement hides the "Most Popular" recipes when the user navigates to a page other than the first page of the Show all section -->
            <div {% if current_page|int == 1 %} class="row popular" {% else %} class="d-none" {% endif %}>
                
                <div class="popular-header col-12 text-center">
                    
                    <h5><em>Try one of the current top 3 most popular recipes</em></h5>
                    
                </div>
            
                {% for favourite in recommended%}
            
                <div class="col-sm-12 col-md-6 col-lg-4 mx-auto popular-card">
                    <div class="card text-center">
                        <div class="card-body text-center">
                            <a href="{{url_for('recipe_display', recipe_id=favourite._id.link)}}">
                                {% if favourite._id.photo_url == "" %}
                                <img src="/static/images/backup.jpg" class="card-img-top" alt="{{favourite._id.recipe_name}}">
                                {% else %}
                                <img src="{{favourite._id.photo_url}}" class="card-img-top" alt="{{favourite._id.recipe_name}}">
                                {% endif %} 
                            </a>
                            <h4 class="card-title">{{favourite._id.recipe_name|title}}</h4>
                            <!--<hr>-->
                            
                            <div class="row card-details-wrapper">
                                <div class="card-details col-6 ">
                                    <span class="recipe-icon"><i class="fas fa-user fa-2x"></i></span>
                                    <span class="recipe-input"> {{ favourite._id.servings }} </span>
                                    <span class="recipe-variable">Servings</span>
                                </div>
                                <div class="card-details col-6 ">
                                    <span class="recipe-icon"><i class="fas fa-clock fa-2x"></i></span> 
                                    <span class="recipe-input">{{ favourite._id.preptime }}</span> 
                                    <span class="recipe-variable">Minutes</span>
                                </div>
                                <div class="card-details col-6 offset-3 ">
                                    <span class="recipe-icon"><i class="fas fa-burn fa-2x"></i></span> 
                                    <span class="recipe-input">{{ favourite._id.calories }}</span> 
                                    <span class="recipe-variable">Calories</span>
                                </div>
                            </div>
                            
                            <hr>
                            
                            <a href="{{url_for('recipe_display', recipe_id=favourite._id.link)}}" class="btn btn-main modal-trigger">View Full Recipe</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
    
        <!-- /MOST POPULAR SECTION -->

        </div>
        {% endif %}


    </div>


    <nav aria-label="Page navigation" class="col-lg-6 offset-lg-3">
        <ul class="pagination pagination-sm justify-content-center">

            <li {% if current_page|int==1 %} class="d-none" {% else %} class="page-item" {% endif %}>
                <a class="page-link" {% if current_page|int> 1 %} href="{{ url_for('search', word_search=word_search, current_page=current_page|int -1 ) }}" {% endif %}tabindex="-1">Previous</a>
            </li>

            {% for page_number in results_pages %} {% if page_number == current_page %}
            <li class="page-item active"><a class="page-link">{{ page_number }}</a></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="{{ url_for('search', word_search=word_search, current_page=page_number) }}">{{ page_number }}</a></li>
            {% endif %} {% endfor %}


            <li {% if current_page|int>= total_page_no|int %} class="d-none" {% else %} class="page-item" {% endif %}>
                <a class="page-link" {% if current_page|int < total_page_no|int %} href="{{ url_for('search', word_search=word_search, current_page=current_page|int +1 ) }}" {% endif %}>Next</a>
            </li>

        </ul>
    </nav>
</div>
    {% endblock %}
